<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div class="" id="pdf">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Invoice</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">


          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h5>
                  <i class="fas fa-globe"></i> NCLC JEE-47
                  <small class="float-right">
                    <input type="datetime-local"[(ngModel)]="ddd" name="ddd" id="ddd">
                  </small>
                </h5>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                From
                <address>
                  <strong>NCLC JEE-47</strong><br>
                  Momtaz Plaza,Dhanmondi-4<br>
                  Dhanmondi, Dhaka-1205<br>
                  Phone: (555) 539-1037<br>
                  Email: nclc.round47@example.com
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                To,
                <!-- /Modal Start-->
                <br />
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-dark btn-sm no-print" data-bs-toggle="modal"
                  (click)="getAllCustomer()" data-bs-target="#exampleModal">
                  Add Customer
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Customer List</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                        <div class="col-md-8 float-end">
                          <form class="d-flex mb-2">
                            <input class="form-control me-2" type="search" [(ngModel)]="searchQueryCustomer"
                              name="searchCustomerText" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"
                              (click)="searchCustomers()">Search</button>
                          </form>
                        </div>

                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <td>Customer ID</td>
                              <td>Customer Name</td>
                              <td>Customer Address</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let cus of customers" data-bs-dismiss="modal"
                              (click)="selectedCustomerRow(cus)">
                              <td>{{cus.id}}</td>
                              <td>{{cus.name}}</td>
                              <td>{{cus.address}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- /Modal END-->

                <address>
                  <strong>{{customer.name}}</strong><br>
                  {{customer.address}}<br>
                  {{customer.phone}}<br>
                  {{customer.email}}<br>

                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <br>
                <b>Invoice: </b>
                <br>
                <b>Account:</b> 968-345-9867
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            
            <!-- Table row -->
            

            <div class="">
              <div class="modal fade" id="modal-xl">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Product List</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-4 float-end">
                        <form class="d-flex mb-2">
                          <input class="form-control me-2" type="search" [(ngModel)]="searchQueryProduct"
                            name="searchProductText" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit"
                            (click)="searchProducts()">Search</button>
                        </form>
                      </div>
                      <table class="table table-info table-bordered table-hover">
                        <thead>
                          <tr>
                            <td>Product ID</td>
                            <td>Product Name</td>
                            <td>Category Name</td>
                            <td>Price</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let pro of products" data-bs-dismiss="modal" (click)="selectedProductRow(pro)">
                            <td>{{pro.pid}}</td>
                            <td>{{pro.pname}}</td>
                            <td>{{pro.cname}}</td>
                            <td>{{pro.price}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" id="productClose" class="btn btn-default close" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal -->
            </div>
            


            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Quantity</th>
                      <th>Product name</th>
                      <th>Category</th>
                      <th>price</th>
                      <th class="no-print">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of selectedProducts; index as i;">
                      <td>{{product.quantity}} &nbsp;
                        <button class="btn btn-secondary btn-sm no-print" (click)="decreaseQuantity(product)">-</button>
                        &nbsp;
                        <button class="btn btn-secondary btn-sm no-print" (click)="increaseQuantity(product)">+</button>
                      </td>
                      <td>{{product.pname}}</td>
                      <td>{{product.cname}}</td>
                      <td>{{product.price * product.quantity}}</td>
                      <td class="no-print">
                        <button type="button" class="btn btn-danger no-print" (click)="removeProduct(product)">Remove</button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <button type="button" class="btn btn-outline-info no-print" data-toggle="modal" data-target="#modal-xl"
              (click)="getAllProduct()">
              Add Product
            </button>

            <div class="row mt-5">
              <!-- accepted payments column -->
              <div class="col-6">
                <p class="lead">Payment Methods:</p>
                <img src="/assets/dist/img/credit/visa.png" alt="Visa"> &nbsp;
                <img src="/assets/dist/img/credit/mastercard.png" alt="Mastercard">&nbsp;
                <img src="/assets/dist/img/credit/american-express.png" alt="American Express">&nbsp;
                <img src="/assets/dist/img/credit/paypal2.png" alt="Paypal">

                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                  plugg
                  dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                </p>
              </div>
              <!-- /.col -->
              <div class="col-6">
                

                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th style="width:50%">Subtotal:</th>
                      <td>{{subtotal}}/-</td>
                    </tr>
                    <tr>
                      <th>Tax (15%)</th>
                      <td>{{vat}}/-</td>
                    </tr>
                    <tr>
                      <th>Shipping:</th>
                      <td>{{shipping}}/-</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td>{{total}}/-</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print mt-5">
              <div class="col-11">
                <button (click)="onPrint()" class="btn btn-lg btn-secondary float-end"><i
                  class="fas fa-print"></i>Print</button>
 <!--               
                <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                  Payment
                </button>
                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Generate PDF
                </button>
              -->
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->