<section class="content-header mt-5">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right mt-5">  
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title fs-1 fw-bolder text-blue">Invoices of NCLC</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="col-md-6 float-end">
              <form class="d-flex mb-2">
                <input class="form-control me-2" type="search" [(ngModel)]="searchQuery" name="searchText" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info" type="submit" (click)="searchItems()">Search</button>
              </form>
            </div>
            <table class="table table-bordered table-striped">
              <thead class="text-primary">
                <tr>
                  <th>Invoice ID</th>
                  <th>Account Number</th>
                  <th>Customer Name</th>
                  <th>payment Date</th>
                  <th>Grand Total</th>                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of invoices; index as i;">
                  <td>{{invoice.id}}</td>
                  <td>{{invoice.accountNumber}}</td>
                  <td>{{invoice.customerName}}</td>
                  <td>{{invoice.paymentDate}}</td>
                  <td>{{invoice.totalPrice}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link">&laquo;</a></li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>