<section class="content-header mt-5">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right mt-5">
            
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>




<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
    <div class="card-header">
      <h3 class="card-title fs-1 fw-bolder text-blue">Product List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="text-primary">
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category Name</th>
            <th>Product Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of products; index as i;">
               <td>{{pro.pid}}</td>
               <td>{{pro.pname}}</td>
               <td>{{pro.cname}}</td>
               <td>{{pro.price}}</td>
                <td>
                    <button type="button" (click)="editProduct(pro)" class="btn btn-primary">Edit</button>
                    ||
                    <button type="button" (click)="deleteProduct(pro)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link">&laquo;</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">&raquo;</a></li>
      </ul>
    </div>
  </div>
  <!-- /.card -->
        </div>
    </div>
</div>


